<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codeBaseCurrency</key>
	<string>RUB</string>
	<key>currencyName</key>
	<string>Russian ruble</string>
	<key>useRemoteExchangeRates</key>
	<true/>
	<key>exchangeRateURL</key>
	<string>http://api.fixer.io</string>
</dict>
</plist>
